<html>
<body>
    <div class="login">
       <h1>Cover type prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Predict Cover Type based on data</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Model</label>
            <select class="form-control" name="Model" placeholder="Prediction Model"
                required>
                <option class="placeholder" selected disabled value="">Select Model</option>
                <option value="Heuristic">
                    Heuristic
                </option>
                <option value="Random Forest">
                    Random Forest
                </option>
                <option value="Naive Bayes">
                    Naive Bayes
                </option>
                <option value="Neural Network">
                    Neural Network
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Elevation</label>
            <input class="form-control" type="number" name="Elevation"
                placeholder="Elevation" min='0'/>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Aspect</label>
            <input class="form-control" type="number" name="Aspect"
                placeholder="Aspect" min='0'/>
        </div>
        <div class="mb-3">
            <label class="form-label">Slope</label>
            <input class="form-control" type="number" name="Slope"
                placeholder="Slope" min='0'/>
        </div>
        <div class="mb-3">
            <label class="form-label">Horizontal_Distance_To_Hydrology</label>
            <input class="form-control" type="number" name="Horizontal_Distance_To_Hydrology"
                placeholder="Horizontal_Distance_To_Hydrology" min='0'/>
        </div>
        <div class="mb-3">
            <label class="form-label">Vertical_Distance_To_Hydrology</label>
            <input class="form-control" type="number" name="Vertical_Distance_To_Hydrology"
                placeholder="Vertical_Distance_To_Hydrology" min='0'/>
        </div>
        <div class="mb-3">
            <label class="form-label">Horizontal_Distance_To_Roadways</label>
            <input class="form-control" type="number" name="Horizontal_Distance_To_Roadways"
                placeholder="Horizontal_Distance_To_Roadways" min='0'/>
        </div>
        <div class="mb-3">
            <label class="form-label">Hillshade_9am </label>
            <input class="form-control" type="number" name="Hillshade_9am"
                placeholder="Hillshade_9am" min='0' max='255' />
        </div>
        <div class="mb-3">
            <label class="form-label">Hillshade_Noon </label>
            <input class="form-control" type="number" name="Hillshade_Noon"
                placeholder="Hillshade_Noon" min='0' max='255' />
        </div>
        <div class="mb-3">
            <label class="form-label">Hillshade_3pm </label>
            <input class="form-control" type="number" name="Hillshade_3pm"
                placeholder="Hillshade_3pm" min='0' max='255' />
        </div>
        <div class="mb-3">
            <label class="form-label">Horizontal_Distance_To_Fire_Points </label>
            <input class="form-control" type="number" name="Horizontal_Distance_To_Fire_Points"
                placeholder="Horizontal_Distance_To_Fire_Points" min='0' />
        </div>
        <div class="mb-3">
            <label class="form-label">Wilderness_Area</label>
            <select class="form-control" name="Wilderness_Area" placeholder="Wilderness_Area"
                required>
                <option class="placeholder" selected disabled value="">Select Wilderness_Area</option>
                <option value="1">
                    Rawah Wilderness Area
                </option>
                <option value="2">
                    Neota Wilderness Area
                </option>
                <option value="3">
                    Comanche Peak Wilderness Area
                </option>
                <option value="4">
                    Cache la Poudre Wilderness Area
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Soil_Type</label>
            <select class="form-control" name="Soil_Type" placeholder="Soil_Type"
                required>
                <!--Options generated by chatGPT based on dataset info.-->
                <option class="placeholder" selected disabled value="">Select Soil_Type</option>
                <option value="1">Cathedral family - Rock outcrop complex, extremely stony.</option>
                <option value="2">Vanet - Ratake families complex, very stony.</option>
                <option value="3">Haploborolis - Rock outcrop complex, rubbly.</option>
                <option value="4">Ratake family - Rock outcrop complex, rubbly.</option>
                <option value="5">Vanet family - Rock outcrop complex complex, rubbly.</option>
                <option value="6">Vanet - Wetmore families - Rock outcrop complex, stony.</option>
                <option value="7">Gothic family.</option>
                <option value="8">Supervisor - Limber families complex.</option>
                <option value="9">Troutville family, very stony.</option>
                <option value="10">Bullwark - Catamount families - Rock outcrop complex, rubbly.</option>
                <option value="11">Bullwark - Catamount families - Rock land complex, rubbly.</option>
                <option value="12">Legault family - Rock land complex, stony.</option>
                <option value="13">Catamount family - Rock land - Bullwark family complex, rubbly.</option>
                <option value="14">Pachic Argiborolis - Aquolis complex.</option>
                <option value="15">unspecified in the USFS Soil and ELU Survey.</option>
                <option value="16">Cryaquolis - Cryoborolis complex.</option>
                <option value="17">Gateview family - Cryaquolis complex.</option>
                <option value="18">Rogert family, very stony.</option>
                <option value="19">Typic Cryaquolis - Borohemists complex.</option>
                <option value="20">Typic Cryaquepts - Typic Cryaquolls complex.</option>
                <option value="21">Typic Cryaquolls - Leighcan family, till substratum complex.</option>
                <option value="22">Leighcan family, till substratum, extremely bouldery.</option>
                <option value="23">Leighcan family, till substratum - Typic Cryaquolls complex.</option>
                <option value="24">Leighcan family, extremely stony.</option>
                <option value="25">Leighcan family, warm, extremely stony.</option>
                <option value="26">Granile - Catamount families complex, very stony.</option>
                <option value="27">Leighcan family, warm - Rock outcrop complex, extremely stony.</option>
                <option value="28">Leighcan family - Rock outcrop complex, extremely stony.</option>
                <option value="29">Como - Legault families complex, extremely stony.</option>
                <option value="30">Como family - Rock land - Legault family complex, extremely stony.</option>
                <option value="31">Leighcan - Catamount families complex, extremely stony.</option>
                <option value="32">Catamount family - Rock outcrop - Leighcan family complex, extremely stony.</option>
                <option value="33">Leighcan - Catamount families - Rock outcrop complex, extremely stony.</option>
                <option value="34">Cryorthents - Rock land complex, extremely stony.</option>
                <option value="35">Cryumbrepts - Rock outcrop - Cryaquepts complex.</option>
                <option value="36">Bross family - Rock land - Cryumbrepts complex, extremely stony.</option>
                <option value="37">Rock outcrop - Cryumbrepts - Cryorthents complex, extremely stony.</option>
                <option value="38">Leighcan - Moran families - Cryaquolls complex, extremely stony.</option>
                <option value="39">Moran family - Cryorthents - Leighcan family complex, extremely stony.</option>
                <option value="40">Moran family - Cryorthents - Rock land complex, extremely stony.</option>
            </select>
        </div>
        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Cover type" required />
        </div>
    </form>
    <h2>
       Cover type is: {{results}}
    </h2>
   <body>
</html>